{
    "extends": "stylelint-config-recommended-scss",
    "rules": {
        "indentation": 4,
	"scss/operator-no-unspaced": null,
        "max-nesting-depth": 3,
        "selector-pseudo-element-colon-notation": "single",
	"no-invalid-position-at-import-rule": null,
        "media-feature-name-disallowed-list": "",
        "at-rule-no-unknown": [
            true,
            {
                "ignoreAtRules": [
                    "tailwind",
 		    "config",
                    "apply",
                    "layer",
                    "variants",
                    "responsive",
                    "screen"
                ]
            }
        ],
        "function-no-unknown": [
            true,
            {
                "ignoreFunctions": ["theme"]
            }
        ],
        "scss/at-rule-no-unknown": [
            true,
            {
                "ignoreAtRules": [
                    "extends",
 		    "config",
                    "tailwind",
                    "apply",
                    "layer",
                    "variants",
                    "responsive",
                    "screen"
                ]
            }
        ],
        "scss/function-no-unknown": [
            true,
            {
                "ignoreFunctions": ["theme"]
            }
        ],
        "string-quotes": "single",
        "at-rule-empty-line-before": [
            "always",
            {
                "except": [
                    "first-nested"
                ],
                "ignore": [
                    "after-comment",
                    "inside-block"
                ],
                "ignoreAtRules": [
                    "import"
                ]
            }
        ]
    }
}
