$primary-color: var(--primary);
$secondary-color: var(--secondary);
$medium-gray: var(--medium-gray);
$white: var(--white);

.splide {
    .splide__slide figure {
        overflow: hidden;
    
        img {
            transition: 100ms ease-in-out opacity;
        }
    
        img[src=''] {
            opacity: 0;
        }
    
        img[src='*'] {
            opacity: 1;
        }
    }
    
    // Carousel Dots
    .splide__pagination {
        margin: 1rem auto 1.5rem !important;
        text-align: center;
    }
    
    .splide__pagination button {
        line-height: 0;
        outline: none;
        cursor: pointer;
        height: 16px !important;
        width: 16px !important;
        display: inline-block;
        border-radius: 50em;
        border: none;
        margin: 0.4rem !important;
        background: black;
        opacity: 0.2;
        padding: 0 !important;
    
        &.is-active {
            opacity: 1;
        }
    }
    
    .splide__arrow {
        align-items: center;
        background-color: white !important;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        padding: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 48px;
        width: 48px;
        z-index: 1;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    
        &[disabled] {
            opacity: 0.5;
        }
    }
    
    .splide__arrow--prev {
        left: 1em;
        margin-bottom: 0;
        border: none;
    }
    
    .splide__arrow--next {
        right: 1em;
        margin-bottom: 0;
        border: none;
    }
    
    .splide__arrow svg {
        fill: $primary-color;
        width: 1rem;
    }
    
    .splide__arrow--prev svg {
        transform: scaleX(-1);
    }

    .splide__video {
        height: auto !important;
        aspect-ratio: 3 / 2;
    }

    .splide__arrows {
        height: auto !important;
        aspect-ratio: 3 / 2;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    
    .splide__video__wrapper {
        height: 100% !important; 
    }
    
    .splide--nav .splide__slide {
        opacity: 0.5;
        transition: 200ms ease-in-out opacity;
    
        &.is-active {
            opacity: 1;
        }
    }
    
    // Accessibility: Focus Outline
    button.splide__arrow:focus,
    button.splide__pagination__page:focus {
        outline: $secondary-color auto 5px;
    }    
}

.max-w-full .splide .splide__arrows,
.max-w-full .splide .splide__video {
    @media (min-width: theme('screens.xl')) {
        aspect-ratio: 16 / 9;
    }
}
