/* Mobile menu styles are moved to critical.css @layer components section. */
@screen lg {
    .header nav.js-main-nav {
        > ul,
        > ul.hide {
            display: flex !important;
        }
        
        &:not(.treeview) {
            > ul {
                flex-direction: row;
            }
            
            .dropdown-menu {
                position: absolute;
                top: 100%;
                left: 0;
                
                .dropdown-menu {
                    top: 0;
                    left: 100%;
                }
            }

            .dropdown .dropdown .dropdown-toggle {
                width: 40px;

                &:after {
                    transform: rotate(-90deg);
                }
            }
            
            .dropdown-left .dropdown-menu {
                left: auto;
                right: 0;
                
                .dropdown-menu {
                    left: auto;
                    right: 100%;
                }
            }
        }
    }
}
